{
    "presets": [
      ["@babel/preset-env", {"targets": {"node": "current"}}],
      ["@babel/preset-react"]
    ],
    "env": {
        "firefox": {
          "sourceMaps": "inline"
        },
        "development": {
          "presets": [["@babel/preset-react", { "development": true }]]
        }
    }
}
